article{
    width: 100%;
    height: 850px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    background-color: rgb(31, 30, 30);
    .nuestrolabotitulo {
        margin-bottom: 30px;
        h3 {
            padding-left: 330px;
            padding-bottom: 40px;
            font-size: 170%;
            color: orangered;
        }
        p {
            width: 850px;
            padding-left: 90px;
            color: rgb(128, 128, 128);
            font-size: 100%;
        }
    }
    .carousel-inner img{
        width: 500px;
        height: 500px;
    }
    .carousel-indicators {
        background-color: orangered;
        width: 350px;
        margin-left: 300px;
    }
}