footer{
    width: 100%;
    margin-top: 0px;
    background : rgb(31, 30, 30);
    color: white;
    .pie {
    display: flex;
    flex-direction: row;
    height: 210px;
    font-family: 'Roboto', sans-serif;
    font-size: 80%;    
        .pie1 {
        width: 130px;
        padding-top: 60px;
            img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-left: 50px;
            overflow: hidden;
            }
        }
        .pie2{
           
             p{
            margin-left: 10px;
            width: 240px;
            margin-top: 60px;
            margin-left: 10px;
            text-align: center;
            font-size: 110%;
            color: gray;
            }
        }
        .pie3 {  
        display: flex;   
        flex-direction: column;
        width: 50px;
        padding-top: 10px;
        padding-left: 380px;
        margin-right: 5px;
            img {
                width: 30px;
                height: 30px;
                margin-left:130px;
                margin-top: 30px;
                border-radius: 50%;
                overflow: hidden;
            }
        }
        .pie4 {
        display: flex;
        flex-direction: row;
        margin-top: 70px;
        width: 40px;
        margin-left: 90px;
            button{
                color: gray;
                height: 50px;
                margin-left: 30px;
            }
        }
        .pie5{
        justify-content: start;
        font-size: 80%;
        width: 140px;
        font-weight: bold;
        padding-bottom: 280px;
        padding-left: 10px;           
            #menu1 {
                background :rgb(31, 30, 30);
                margin-left: 10px;
                margin-top: 10px;       
            } 
            #menu1 a{
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                font-size: 100%;   
                }
            #menu1 ul{
                list-style: none;
                margin: 0;
                padding: 0;
            }
            #menu1 ul li{
                display: inline-block;

            }
            #menu1 ul li a{
                color: gray;
                display: block;
                padding: 15px 15px;
                justify-content: space-evenly;
                text-decoration: none;
            }
            
            #menu1 ul li a:hover{
                background : orangered;
                color: white;
                
                
            }
        }
    }
}
