main{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    height: 460px;
    .Domicilio {
    color:orangered;
    width: 49.5%;
    background-color: rgb(31, 30, 30);
    background-size: cover;
        h2 {
            font-size: 170%;
            padding-top: 50px;
            padding-left: 45px;
            width: 550px;
        }
        p {
            padding-left: 45px;
            padding-top: 35px;
            color: gray;
            font-size: 100%;
            width: 550px;
        }
        button{
            width: 300px;
            height: 50px;
            background-color: orangered;
            font-size: 140%;
            color: white;
            margin-left: 300px;
            margin-top: 45px;
        }
    }
    .grilla {
        background-image: url(https://cdn.euroinnova.edu.es/img/subidasEditor/areas-de-un-laboratorio-clinico-y-sus-funciones-2-1597173995.jpg);
        background-size: cover;
        width: 52%;
    }
}
     


