.resultados{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    width: 1150px;
    height: 550px;
    margin-top: 30px;
    margin-bottom: 90px;
        .resultados1 {
            background-image: linear-gradient(to left,rgba(139, 243, 139, 0.705),rgb(150, 189, 127));
            h3{
                color: white;
                margin-top: 160px;
            }
            p {
                color: white;
                font-size: 120%;
                padding: 10px 20px 5px 20px;
                text-align: center;
            }
            
        }
        .resultados2{
            color:rgb(146, 145, 145);;
            padding-top: 100px;
            padding-left: 20px;
            padding-right: 30px;
            label{
                font-size: 140%;
            }
        }
}

    